@model WebStore.Models.EmployeeView
@{ 
    Layout = "_Layout";
    ViewBag.Title = "Details";
}

<p>Details</p>
<table>
    <tr>
        <td>@Model.FirstName</td>
        <td>@Model.SurName</td>

        <td>@Html.ActionLink("Назад", "Index")</td>
        <td><a ></td>
    </tr>       
</table>
