@model WebStore.Models.EmployeeView


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <p>Details</p>

    <table>
       <tr>
           <td>@Model.FirstName</td>     
           <td>@Html.ActionLink("Назад", "Index")</td>
           
       </tr>
       
    </table>

</body>
</html>
